.container {
    min-height: 100vh;
    padding: 120px 120px 56px 120px;
    display: flex;
    align-items: center;

    .projectsList {
        display: flex;
        overflow-x: auto;
        flex-direction: row;
        list-style-type: none;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-right: 1px solid rgba(255, 255, 255, 0.3);
            padding: 0 24px;

            &:last-child {
                border-right: 0px;
            }


            h2 {
                text-align: center;
                font-size: 40px;
                color: #FF0044;
                margin-bottom: 12px;
            }
        }
    }
}