.container {
    display: flex;
    min-height: 150vh;
    position: relative;
    flex-direction: column;
    padding: 240px 120px 56px 120px;

    .sticky {
        top: 240px;
    }

    .territorialPresence {
        width: 274px;
        font-size: 14px;
        margin-left: auto;
        margin-bottom: 64px;
    }

    .subtitle {
        color: #FF0044;
        font-size: 28px;
        line-height: 44px;
        margin-bottom: 80px;
    }

    .countriesContainer {
        width: 290px;
        margin-left: auto;

        .countriesImg {
            margin-bottom: 24px;
        }
    }
}