// Akrobat

@font-face {
  font-family: "Akrobat";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/akrobat/akrobat-extrabold.woff2") format("woff2"),
    url("../assets/fonts/akrobat/akrobat-extrabold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Akrobat";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/akrobat/akrobat-black.woff2") format("woff2"),
    url("../assets/fonts/akrobat/akrobat-black.woff") format("woff");
  font-display: swap;
}

// Gotham

@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/gotham/gotham-pro-regular.woff2") format("woff2"),
    url("../assets/fonts/gotham/gotham-pro-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/gotham/gotham-pro-medium.woff2") format("woff2"),
    url("../assets/fonts/gotham/gotham-pro-medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/gotham/gotham-pro-bold.woff2") format("woff2"),
    url("../assets/fonts/gotham/gotham-pro-bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/gotham/gotham-pro-black.woff2") format("woff2"),
    url("../assets/fonts/gotham/gotham-pro-black.woff") format("woff");
  font-display: swap;
}