.container {
    display: flex;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
    padding: 0 120px 56px 120px;
    justify-content: flex-end;

    .territorialPresence {
        width: 274px;
        margin-left: auto;
        margin-bottom: 64px;
    }

    .subtitle {
        color: #FF0044;
        font-size: 28px;
        line-height: 44px;
        margin-bottom: 80px;
    }

    .countriesContainer {
        width: 274px;
        margin-left: auto;

        .countriesImg {
            margin-bottom: 24px;
        }
    }
}