@import "/src/styles/variables/colors";
@import "/src/styles/mixins/font-mixin";
@import "/src/styles/mixins/base";

.modal {
  outline: none;
  border: none;
  z-index: 101;

  &-overlay {
    background-color: $white-10;
    inset: 0;
    position: fixed;
    z-index: 100;
    opacity: 0;
    transition: all 0.3s ease;
    cursor: pointer;

    &.visible {
      opacity: 1;
    }
  }
}

.modal-what-we-do {
  width: 653px;
  right: 18px;
  top: 18px;
  bottom: 18px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: $dark;
  padding: 35px 38px 0;
  position: fixed;
  transition: all 0.3s ease;
  transform: translateX(calc(100% + 18px));

  &.visible {
    transform: translateX(0);

    .modal-what-we-do__close {
      opacity: 1;

      &:hover,
      &:focus-visible {
        opacity: 0.7;
      }
    }
  }

  &__close {
    position: absolute;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: $dark;
    top: 0;
    left: -95px;
    transition: all 0.3s ease;
    opacity: 0;
  }

  &__img {
    width: 100%;
    min-height: 225px;
    background-color: $white-30;
    border-radius: 20px;
    margin-bottom: 50px;
  }

  &__inner {
    max-width: 505px;
    width: 100%;
    padding-left: 33px;
    padding-right: 20px;

    h2 {
      @include akrobat-extrabold(62, 60);
      color: $red-100;
      padding-bottom: 28px;
      text-transform: uppercase;
    }

    svg {
      display: inline-block;
      vertical-align: top;
    }

    p {
      @include gotham-regular(18, 32);
      color: $white-80;
      padding-bottom: 18px;
    }

    a {
      width: 147px;
      min-height: 52px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 28px;
      margin-top: 18px;
      background-color: $white-100;
      border: 1px solid $white-100;
      border-radius: 39px;
      @include gotham-regular(16, 18);
      color: $black-100;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus-visible {
        color: $white-100;
        background-color: transparent;
      }
    }
  }
}
