@import "/src/styles/variables/colors";
@import "/src/styles/mixins/font-mixin";
@import "/src/styles/mixins/base";

.what-we-do-areas-wrapper {
    height: 150vh;
    margin-bottom: 200px;
}

.what-we-do-areas {
    top: 5%;
}

.what-we-do__areas {
    max-width: 888px;
    width: 100%;
    min-height: 865px;
    margin: 0 auto;
    padding: 139px 0 222px;
    display: flex;
  }
  
  .what-we-do__areas-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  
    &:not(:last-child) {
      margin-right: 39px;
    }
  }
  
  .what-we-do__areas-item {
    width: 270px;
    min-height: 108px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  
    >div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px;
      height: 64px;
      border: 1px dotted $white-50;
      border-radius: 50%;
      margin-bottom: 20px;
    }
  
    p {
      @include akrobat-black(20, 24);
      color: $white-100;
      text-transform: uppercase;
      text-align: center;
      padding: 0 35px;
    }
  
    button {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  
  .what-we-do__areas-list {
  
    &--left,
    &--right {
      .what-we-do__areas-item {
        margin-top: 132px;
      }
    }
  
    &--center {
      .what-we-do__areas-item {
        &:first-child {
          margin-bottom: 132px;
        }
      }
    }
  }