@import "/src/styles/mixins/font-mixin";

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100vh;
    padding: 0 120px 60px 120px;
    position: relative;

    .the {
        margin: 0px 40px;
    }

    .worldwide {
        margin-top: 38px;
    }

    .subtitle {
        @include gotham-regular(22, 24);
        line-height: 44px;
        margin-bottom: 148px;
    }

    .awardsContainer {
        top: 192px;
        opacity: 60%;
        right: 120px;
        position: absolute;

        .awardItem{
            display: flex;
            flex-direction: row;
            align-items: center;
        
            .img {
                margin: 16px;
            }
    
            .awardLabel {
                color:#fff;
                font-size: 10px;
                line-height: 14px;
            }
        }
    }
}

.span {
    letter-spacing: 0.07em;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 60px;
    color: white;
    margin-bottom: 26px;
}

.span::before {
    position: absolute;
    content: "";
    width: 44px;
    height: 1px;
    left: 0;
    background-color: white;
}

.img {
    margin-bottom: 60px;
}