@import "/src/styles/variables/colors";
@import "/src/styles/mixins/font-mixin";

.footer {
  padding-top: 25px;
  padding-bottom: 58px;
}

.footer__contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid $white-20;
}

.footer__copyright {

  p {
    @include gotham-bold(11, 14);
    letter-spacing: 0.05em;
    color: $white-100;
  }

  a {
    @include gotham-regular(14, 20);
    color: $white-60;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus-visible {
      color: $white-100;
    }
  }
}

.footer__social-list,
.footer__awards-list,
.footer__login {
  display: flex;
  list-style: none;
}

.footer__social-list {
  width: 240px;
  justify-content: space-between;

  li {
    opacity: 1;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus-visible {
      opacity: 0.3;
    }
  }
}

.footer__login {
  li {
    @include gotham-bold(13, 18);
    letter-spacing: 0.07em;
    color: $white-100;

    &:not(:last-child) {
      margin-right: 32px;
    }
  }
}

.footer__awards-list {
  width: 100%;
  margin-top: 24px;
  justify-content: space-evenly;

  li {
    opacity: 0.3;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus-visible {
      opacity: 1;
    }
  }

  a {
    width: 138px;
    min-height: 48px;
  }
}