.container {
    min-height: 100vh;
    padding: 120px 120px 56px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .titleContainer {
        width: 100%;
        display: flex;
        margin-bottom: 64px;
        justify-content: space-between;
    }

    table {
        overflow: scroll;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border-collapse: collapse;
      
        tr {
          display: flex;
          border-top: 1px solid rgba(255, 255, 255, 0.3);
          border-left: 1px solid rgba(255, 255, 255, 0.3);
      
            &:not(:first-child) {
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            }

            td {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 38px;
                font-size: 12px;
                border-right: 1px solid rgba(255, 255, 255, 0.3);
            }
        }
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 183px;
        min-height: 40px;
        border: 1px solid #FFFFFF;
        border-radius: 25px;
        letter-spacing: 0.2em;
        color: #FFFFFF;
        transition: all 0.3s ease-in-out;
        background: black;
        padding: 0px 20px;

        &:hover,
        &:focus-visible {
            background-color: white;
            color: black;
        }
    }
}