@import "/src/styles/variables/colors";
@import "/src/styles/mixins/font-mixin";
@import "/src/styles/mixins/base";

.contacts__wrapper {
  padding: 136px 0 125px;
  display: flex;
  justify-content: space-between;
}

.contacts__info {
  display: flex;
  flex-direction: column;

  h3 {
    @include akrobat-extrabold(122, 146);
    letter-spacing: 0.08em;
    color: $white-100;
    text-transform: uppercase;
    padding-bottom: 24px;
  }

  p {
    @include gotham-regular(24, 40);
    color: $white-100;
    padding-bottom: 100px;
    max-width: 560px;
    width: 100%;
  }
}

.contacts__email {
  @include gotham-regular(14, 24);
  letter-spacing: 0.15em;
  color: $white-100;
  padding-bottom: 24px;
  text-transform: uppercase;
}

.contacts__tel {
  @include gotham-bold(24, 23);
  letter-spacing: 0.08em;
  color: $white-100;
}

.contacts__email,
.contacts__tel {
  width: fit-content;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus-visible {
    color: $white-60;
  }
}

.contacts__scroll-top {
  width: 255px;
  padding-left: 4px;
  margin: 40px auto 72px;
  @include gotham-regular(14, 32);
  color: $white-100;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s ease-in-out;

  span {
    position: absolute;
    color: $red-100;
    transition: all 0.3s ease-in-out;

    &:first-child {
      left: 1px;
      top: 3px;
    }

    &:last-child {
      right: -1px;
      top: -3px;
      transform: rotate(180deg);
    }
  }

  &:hover,
  &:focus-visible {
    color: $red-100;

    span {
      color: $white-100;
    }
  }
}