@import "/src/styles/variables/colors";
@import "/src/styles/mixins/font-mixin";
@import "/src/styles/mixins/base";

.what-we-do {
  height: 150vh;
  margin-bottom: 200px;

  .what-we-do__wrapper {
    margin-top: 212px;
    margin-bottom: 85px;
    padding-bottom: 188px;
  }

  .what-we-do__title {
    display: flex;
    margin-bottom: 60px;
    position: relative;

    >div {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      padding-left: 38px;
      padding-top: 59px;
    }

    span {
      @include gotham-bold(14, 16);
      letter-spacing: 0.2em;
      color: $white-60;
    }
  }

  .what-we-do__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 640px;
    width: 100%;
    min-height: 32px;

    p {
      @include gotham-bold(14, 16);
      letter-spacing: 0.2em;
      color: $white-100;
      text-transform: uppercase;
    }

    span {
      position: relative;
      color: $dark;
      z-index: 2;
      padding: 0 9px;

      &::before {
        z-index: -1;
        position: absolute;
        content: "";
        background-color: $white-100;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}