html,
body,
#root,
#root > div {
  width: 100%;
  height: 100%;
  font-family: Roboto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  width: 100vw;
  height: 100vh;
}

.scroll {
  width: 100%;
  height: 100%;
}

.title-1 {
  top: 10vh;
  left: 10vw;
  color: black;
  font-size: 4em;
  position: absolute;
}

.title-2 {
  top: 480vh;
  left: 10vw;
  color: white;
  font-size: 4em;
  position: absolute;
}
